.modalContainer{
    background-color: white;
    border: none;
    left: 50vw;
    padding: 10px;
    position: absolute;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 450px;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;

    #modalTitle{
        text-align: center;
    }

    .citySelectorSection{
        margin: 20px 0px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 5px;

        #citySelector{
            width: 70%;
        }
    }
}